#navbar {
    background-color: #383737;
    padding: 0;
    margin-bottom: 1.5rem;
}

.navText {
    color: yellow;
    padding: 0;
    margin: 1rem;
    font-size: 1.5rem;
}

.navLink {
    background-color: #bdbdbd;
    border-color: black;
    border-style: solid;
    padding: 1rem;
    text-decoration:none;
    font-weight:bold;
    border-radius:5px;
    cursor:pointer;
}